:root {
  --color-white: #fff;
  --color-black: #000;

  --color-text-primary: #355674;

  --color-bg-primary: #355674;
  --color-bg-secondary: #d7e6eb;

  --color-font-base: #000;
  --color-background-base: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #fff;
    --color-black: #000;

    --color-text-primary: #355674;

    --color-bg-primary: #355674;
    --color-bg-secondary: #d7e6eb;

    --color-font-base: #000;
    --color-background-base: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-font-base);
}

p {
  margin: 10px 0;
}

body {
  background-color: var(--color-background-base);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
